In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import pandas as pd
from scipy.stats import pearsonr
from sklearn.preprocessing import LabelEncoder

In [ ]:
data= pd.read_csv("./Beverages.csv")

In [ ]:
data.head()

,Name,Age,TEA_consumption,Coffee_consumption,EnergyDrinks_consumption,SoftDrinks_consumption,Milk_consumption,Juices_consumption,TEA_sleepingPattern,Coffee_sleepingPattern,EnergyDrinks_sleepingPattern,SoftDrinks_sleepingPattern,Milk_sleepingPattern,Juices_sleepingPattern,SleepingSchedule,BeveragesAfftectingSleep
0,Yagnesh,below 20 yrs,1,0,0,0,1,0,sleep late,sleep late,remains the same sleeping routine with or with...,remains the same sleeping routine with or with...,remains the same sleeping routine with or with...,remains the same sleeping routine with or with...,7-8 hrs,Yes
1,Omikumar Makadia,20 - 30 yrs,2,3,0,1,1,0,remains the same sleeping routine with or with...,sleep late,sleep late,remains the same sleeping routine with or with...,remains the same sleeping routine with or with...,remains the same sleeping routine with or with...,7-8 hrs,Yes
2,Devyash Shah,20 - 30 yrs,0,2,0,1,0,1,I don't drink.. :),remains the same sleeping routine with or with...,remains the same sleeping routine with or with...,remains the same sleeping routine with or with...,remains the same sleeping routine with or with...,remains the same sleeping routine with or with...,5-6 hrs,No
3,Om Shah,below 20 yrs,2,2,0,0,1,1,sleep late,sleep late,I don't drink.. :),I don't drink.. :),remains the same sleeping routine with or with...,remains the same sleeping routine with or with...,above 10 hrs,No
4,Sarthak dave,20 - 30 yrs,3,3,1,1,1,0,remains the same sleeping routine with or with...,remains the same sleeping routine with or with...,remains the same sleeping routine with or with...,remains the same sleeping routine with or with...,feels sleepy...sleep early than usual,remains the same sleeping routine with or with...,7-8 hrs,No

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Name                          72 non-null     object
 1   Age                           72 non-null     object
 2   TEA_consumption               72 non-null     int64
 3   Coffee_consumption            72 non-null     int64
 4   EnergyDrinks_consumption      72 non-null     int64
 5   SoftDrinks_consumption        72 non-null     int64
 6   Milk_consumption              72 non-null     int64
 7   Juices_consumption            72 non-null     int64
 8   TEA_sleepingPattern           72 non-null     object
 9   Coffee_sleepingPattern        72 non-null     object
 10  EnergyDrinks_sleepingPattern  72 non-null     object
 11  SoftDrinks_sleepingPattern    72 non-null     object
 12  Milk_sleepingPattern          72 non-null     object
 13  Juices_sleepingPattern        72 non-null     object
 14  SleepingSchedule              72 non-null     object
 15  BeveragesAfftectingSleep      72 non-null     object
dtypes: int64(6), object(10)
memory usage: 9.1+ KB

In [ ]:
# Encode the columns using LabelEncoder
for columns in data.columns:
    labelencoder = LabelEncoder()
    if columns not in ['Name'] and data[columns].dtypes == 'O':
        data[columns] = labelencoder.fit_transform(data[columns])
        print(columns)
        print(labelencoder.classes_)
        print("\n")

Age
['20 - 30 yrs' '40 -50 yrs' 'below 20 yrs']


TEA_sleepingPattern
["I don't drink.. :)" 'feels sleepy...sleep early than usual'
 'remains the same sleeping routine with or without drinking' 'sleep late']


Coffee_sleepingPattern
["I don't drink.. :)" 'feels sleepy...sleep early than usual'
 'remains the same sleeping routine with or without drinking' 'sleep late']


EnergyDrinks_sleepingPattern
["I don't drink.. :)" 'feels sleepy...sleep early than usual'
 'remains the same sleeping routine with or without drinking' 'sleep late']


SoftDrinks_sleepingPattern
["I don't drink.. :)" 'feels sleepy...sleep early than usual'
 'remains the same sleeping routine with or without drinking' 'sleep late']


Milk_sleepingPattern
["I don't drink.. :)" 'feels sleepy...sleep early than usual'
 'remains the same sleeping routine with or without drinking' 'sleep late']


Juices_sleepingPattern
["I don't drink.. :)" 'feels sleepy...sleep early than usual'
 'remains the same sleeping routine with or without drinking' 'sleep late']


SleepingSchedule
['2-4 hrs' '5-6 hrs' '7-8 hrs' '9-10 hrs' 'above 10 hrs']


BeveragesAfftectingSleep
['No' 'Yes']

In [ ]:
data.head()

,Name,Age,TEA_consumption,Coffee_consumption,EnergyDrinks_consumption,SoftDrinks_consumption,Milk_consumption,Juices_consumption,TEA_sleepingPattern,Coffee_sleepingPattern,EnergyDrinks_sleepingPattern,SoftDrinks_sleepingPattern,Milk_sleepingPattern,Juices_sleepingPattern,SleepingSchedule,BeveragesAfftectingSleep
0,Yagnesh,2,1,0,0,0,1,0,3,3,2,2,2,2,2,1
1,Omikumar Makadia,0,2,3,0,1,1,0,2,3,3,2,2,2,2,1
2,Devyash Shah,0,0,2,0,1,0,1,0,2,2,2,2,2,1,0
3,Om Shah,2,2,2,0,0,1,1,3,3,0,0,2,2,4,0
4,Sarthak dave,0,3,3,1,1,1,0,2,2,2,2,1,2,2,0

In [ ]:

data.to_csv("DataEncoding.csv")
data = data.iloc[:,1:]

In [ ]:
data.head()

,Age,TEA_consumption,Coffee_consumption,EnergyDrinks_consumption,SoftDrinks_consumption,Milk_consumption,Juices_consumption,TEA_sleepingPattern,Coffee_sleepingPattern,EnergyDrinks_sleepingPattern,SoftDrinks_sleepingPattern,Milk_sleepingPattern,Juices_sleepingPattern,SleepingSchedule,BeveragesAfftectingSleep
0,2,1,0,0,0,1,0,3,3,2,2,2,2,2,1
1,0,2,3,0,1,1,0,2,3,3,2,2,2,2,1
2,0,0,2,0,1,0,1,0,2,2,2,2,2,1,0
3,2,2,2,0,0,1,1,3,3,0,0,2,2,4,0
4,0,3,3,1,1,1,0,2,2,2,2,1,2,2,0